.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0px;
    padding: 0px;
}
body > header{
    background-color: rgba(255, 144, 14, 0.1);
}
.nav-section{
    max-width: 1440px;
    margin: 0px auto;
    padding-bottom: 45px;

}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 102px;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
}
.nav-menu{
    list-style: none;
    display: flex;
    gap: 79px;
}
.nav-menu .list a {
    text-decoration: none;
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500;
}
.hero-container{
    display: flex;
    flex-direction: column;
   align-items: center;
}

.hero-title{
    color: #131313;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}
.hero-describe{
    color: #727272;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    margin: 32px 0px;
}
.primary-btn{
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    background-color: #FF900E;
    padding: 21px 25px;
    border-radius: 8px;
    border: none;
    margin-bottom: 50px;
}
.image-container img{
    max-width: 100%;
   

}