.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0px;
    padding: 0px;
}
/* quick section style  */
body > main {
    max-width: 1440px;
    margin: 0px auto;
    
}
.quick-container{
    display: flex;
    gap: 73px;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 130px;
    padding: 0px 61px;
}
.quick-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.quick-image-container img{
    width: 342px;
    height: 342px;
}
.quick-list-container{
    display: flex;
    flex-direction: column;
}

.quick-title{
    font-family: bold;
    font-size: 2.8rem;
    color: #131313;
    margin-bottom: 24px;
}
#quick-fastt{
    font-family: 500;
    font-size: 2.8rem;
    color: #727272;
}
#quick-fst{
    font-family: bold;
    font-size: 2.8rem;
    color: #FF900E;
}
.quick-describe{
    font-family: normal;
    font-size: 1rem;
    color: #727272;
    margin-bottom: 32px;
}

/* love section style */
.love-container{
    display: flex;
    gap: 146px;
    
}

.border-container{
    display: flex;
    gap: 19px;
}
.border{
    background-color: #FF900E;
    width: 5px;
    height: 106px;
}
.love-title{
    font-family: bold;
    font-size: 2.8rem;
    color: #131313;
    margin-bottom: 24px;
}
.love-describe{
    font-family: normal;
    font-size: 1rem;
    color: #727272;
    margin-bottom: 30px;
    
}
.card{
    width: 586px;
    
    background-color: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0 4px 30px 0 #00000018;
    padding: 30px 30px;
    margin-bottom: 19px;
}
.card-title{
    font-family: 700;
    font-size: 1.25rem;
    color: #131313;
    margin-bottom: 11px;
}
.card-describe{
    font-family: normal;
    font-size: 1rem;
    color: #727272;
}
.image-custom img{
    width: 709px;
    height: 982px;
}
.btn-position{
    margin-left: -93px;
    margin-top: -149px;
}
.secondary-btn{
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 9px ;
    font-size: 4rem;
    font-weight: bold;
    padding: 46px 42px;
}
#customize{
    font-size: 1.56rem;
    font-weight: 500;
}
/* fact scetion style*/
.fact-container{
    margin-bottom: 180px;
    margin-top: 130px;
}
.fact-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 24px;
    

}
.fact-describe{
    color: #727272;
    font-size: 1rem;
    font-weight:normal;
    margin-bottom:99px;

}
.fact-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    
    
}
.fact-card{
    border:2px solid #FF900E;
    height: 241px;
    width: 241px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* sponsor section style */
.sponsor-title{
     color: #131313;
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
}
.sponsor-describe{
     color: #727272;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 50px;
    text-align: center;
}
.sponsor-image img{
    filter: grayscale(100%);
}
.sponsor-image{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 155px;
    margin-bottom: 130px;
}