.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0px;
    padding: 0px;
}
/* quick section style  */
body > main {
    max-width: 1440px;
    margin: 0px auto;
    
}
.quick-container{
    display: flex;
    gap: 73px;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 130px;
    padding: 0px 61px;
}
.quick-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.quick-image-container img{
    width: 342px;
    height: 342px;
}
.quick-list-container{
    display: flex;
    flex-direction: column;
}

.quick-title{
    font-family: bold;
    font-size: 2.8rem;
    color: #131313;
    margin-bottom: 24px;
}
#quick-fastt{
    font-family: 500;
    font-size: 2.8rem;
    color: #727272;
}
#quick-fst{
    font-family: bold;
    font-size: 2.8rem;
    color: #FF900E;
}
.quick-describe{
    font-family: normal;
    font-size: 1rem;
    color: #727272;
    margin-bottom: 32px;
}