.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0px;
    padding: 0px;
}

/* Mobile device responsive */
@media screen and (max-width: 576px) {
    .nav-container{
    flex-direction: column ;
    gap: 10px;
    }
    .nav-menu{
        gap: 17px;
    }
    .quick-container{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-top: 35px;
        margin-bottom: 70px;
        padding:0px 0px;
    }
    .quick-image-container img{
        width: 100%;

    }
    .quick-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .quick-list-container{
        padding:0px 20px;
    }
}








/* Tab/ medium device responsive */
@media screen and (min-width: 577px) and (max-width: 992px){
    .nav-container{
    flex-direction: column ;
    gap: 15px;
    }
    .nav-menu{
        gap: 50px;
    }
    .quick-container{
        flex-direction: column;
    }
    .quick-title{
        text-align: center;
    }
    .quick-describe{
        text-align: center;
    }
    .btn-container{
        text-align: center;
    }
}