.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0px;
    padding: 0px;
}

/* Mobile device responsive */
@media screen and (max-width: 576px) {
    /* navbar section responsive */
    .nav-container{
    flex-direction: column ;
    gap: 10px;
    }
    .nav-menu{
        gap: 17px;
    }
    /* quick section responsive */
    .quick-container{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-top: 35px;
        margin-bottom: 70px;
        padding:0px 0px;
    }
    .quick-image-container img{
        width: 100%;

    }
    .quick-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .quick-list-container{
        padding:0px 20px;
    }
    /* love section style */
    .love-container{
    flex-direction: column;
    gap: 46px;
    }
    .card{
        width: 100%;
        padding: 20px 0px;
        
        
    }
    .card-describe{
        padding-left: 10px;
    }
    .card-title{
        padding-left: 10px;
    }
    
    .image-custom img {
        width: 100%;
        height: 90%;
       
    }
    .btn-position{
    margin-left:0px;
    text-align: center;
    margin-top: 11px;
    }
    .love-describe{
        padding: 0px 15px;
    }
    /* fact section responsive */
    .fact-container{
    margin-bottom: 90px;
    margin-top: 70px;
    }
    .fact-card-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 15px;
    width: 100%;
    }
    .fact-title{
        text-align: center;
    }
    .fact-describe{
       
        text-align: justify;
    }
    /* sponsor section responsive */
    .sponsor-image{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 55px;
    margin-bottom: 130px;
    justify-items: center;
    }
    .sponsor-image img{
    width: 165px;
    }
}








/* Tab/ medium device responsive */
@media screen and (min-width: 577px) and (max-width: 992px){
    /* nabvar section responsive */
    .nav-container{
    flex-direction: column ;
    gap: 15px;
    }
    .nav-menu{
        gap: 50px;
    }
    /* quick section responsive */
    .quick-container{
        flex-direction: column;
    }
    .quick-title{
        text-align: center;
    }
    .quick-describe{
        text-align: center;
    }
    .btn-container{
        text-align: center;
    }
    /* love section responsive */
    .love-container{
    flex-direction: column;
    gap: 46px;
    }
    .btn-position{
    margin-left:0px;
    margin-top: 19px;
    text-align: center;
    }
    .image-custom img {
        width: 100%;
        height: 100%;
    }
    .border-container{
        justify-content: center;
    }
    .love-describe{
        text-align: center;
    }
    .card{
        width: 80%;
        padding: 20px 0px;
        margin: 0 auto;
        margin-bottom: 13px;
        
    }
     /* fact section responsive */
    .fact-container{
    margin-bottom: 120px;
    margin-top: 90px;
    }
    .fact-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;
    width: 100%;
    }
    .fact-title{
        text-align: center;
    }
    .fact-describe{
       
        text-align: center;
    }
    /* sponsor section responsive */
    .sponsor-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 55px;
    margin-bottom: 130px;
    justify-items: center;
    }
    .sponsor-image img{
    width: 165px;
    }



}